package {{ base_package_name }}.service;

import java.util.List;

import {{ base_package_name }}.entity.{{ entity_name }};
import {{ base_package_name }}.entity.dto.{{ entity_name }}Dto;
import {{ base_package_name }}.entity.dto.{{ entity_name }}QueryDto;
import org.huazhi.util.PageRequest;
import org.huazhi.util.PageResult;

public interface {{ entity_name }}Service {
   List<{{ entity_name }}> listEntitys();

   List<{{ entity_name }}> listEntitysByDto({{ entity_name }}QueryDto sysOrgDto);

   {{ entity_name }} listOne({{ entity_name }}QueryDto dto);

   PageResult<{{ entity_name }}> listPage({{ entity_name }}QueryDto dto, PageRequest pageRequest);

   Boolean register({{ entity_name }} entity);

   void replaceById({{ entity_name }} entity);

   void replaceByDto({{ entity_name }}Dto dto);

   void removeById(Long id);

   void removeByIds(List<Long> ids);
}
