package {{ base_package_name }}.entity.dto;

import jakarta.ws.rs.QueryParam;


public class {{ entity_name }}QueryDto {
    @QueryParam("id")
    private Long id;

    @QueryParam("beginTime")
    private String beginTime;

    @QueryParam("endTime")
    private String endTime;
}
