package {{ base_package_name }}.service;

import java.util.List;
import java.time.LocalDateTime;

import {{ base_package_name }}.entity.{{ entity_name }};
import {{ base_package_name }}.entity.dto.{{ entity_name }}QueryDto;
import {{ base_package_name }}.entity.dto.{{ entity_name }}Dto;
import {{ base_package_name }}.repository.{{ entity_name }}Repository;
import org.huazhi.util.PageRequest;
import org.huazhi.util.PageResult;

import io.quarkus.panache.common.Sort;
import jakarta.enterprise.context.ApplicationScoped;
import jakarta.inject.Inject;
import jakarta.transaction.Transactional;


@ApplicationScoped
public class {{ entity_name }}ServiceImp implements {{ entity_name }}Service {
    @Inject
    {{ entity_name }}Repository repository;
    @Override
    public List<{{ entity_name }}> listEntitys() {
        return repository.list("isDeleted = ?1", Sort.by("createTime"),  0);
    }

    @Override
    public List<{{ entity_name }}> listEntitysByDto({{ entity_name }}QueryDto dto) {
        return repository.selectList(dto);
    }

    @Override
    public {{ entity_name }} listOne({{ entity_name }}QueryDto dto) {
        return repository.selectOne(dto);
    }

    @Override
    public PageResult<{{ entity_name }}> listPage({{ entity_name }}QueryDto dto, PageRequest pageRequest) {
        return repository.selectPage(dto, pageRequest);
    }

    @Transactional
    @Override
    public Boolean register({{ entity_name }} entity) {
        entity.setCreateTime(LocalDateTime.now());
        entity.setIsDeleted(0);
        repository.persist(entity);
        return true;
    }

    @Override
    public void replaceById({{ entity_name }} entity) {
        repository.updateById(entity);
    }

    @Override
    public void replaceByDto({{ entity_name }}Dto dto) {
        repository.updateByDto(dto);
    }

    @Override
    public void removeById(Long id) {
        repository.deleteById(id);
    }

    @Override
    public void removeByIds(List<Long> ids) {
        repository.deleteByIds(ids);
    }

}
